@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox:checked {
  right: 0;
  --tw-bg-opacity: 1;
  background-color: bg-color-0800;
}

.toggle-checkbox:checked + .toggle-label {
  --tw-bg-opacity: 1;
  background-color: bg-gray-400;
}

.bg-common-card {
  --tw-bg-opacity: 1;
  background-color: #1c5a7c;
}

.bg-app-card {
  --tw-bg-opacity: 1;
  background-color: #106354;
}

.bg-instance-card {
  --tw-bg-opacity: 1;
  background-color: #54117d;
}

.bg-scenario-card {
  --tw-bg-opacity: 1;
  background-color: #71441b;
}

.bg-ttg-card {
  --tw-bg-opacity: 1;
  background-color: #285151;
}
